@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
}

.playwrite-gb-s-playwrite {
	font-family: "Playwrite GB S", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }

header {
	font-size: calc(50% + 2vh) !important;
	font-family: "Playwrite GB S";
	user-select: none;
	position: absolute;
	top: 0;
	padding: 10px;
}

h2 {
	@apply px-5 font-sans;
	font-size: 20px !important;
}

h3 {
	@apply font-serif py-2;
	font-size: 15px !important;
}

.container {
	padding-top: 80px;
	@apply flex flex-col w-screen h-screen bg-blue-500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Internet Explorer, Edge */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

section {
	display: flex;
	gap: 5px;
	/* height: 250px; */
	flex-direction: column;
	overflow-y: none !important;
}

section > h2 {
	position: sticky;
	top: 4;
	z-index: 4;
	height: fit-content;
	padding: 10px;
	place-content: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: linear-gradient(90deg, rgba(180,166,255,1) 0%, rgba(0,212,255,0) 50%);
}